
<%- include('partials/header') %>
<%- include('partials/navbar') %>
    <form method="post" action="/blog-edit/<%= editBlog.id %>">
      <div class="container my-5 p-md-5 " >
        <div class="p-4 p-md-5 rounded" style="background-color: #F4F3F3;">
          <h1 class="text-center">Edit Blog <%= editBlog.title %> </h1>
          <!-- Name -->
          <div class="mb-3">
            <label class="form-label">Project Name</label>
            <input name="title" class="form-control" placeholder="<%= editBlog.title %>" >
          </div>
          <!-- Date -->
          <div class="mb-3 d-grid ">
            <label class="form-label">Date</label>
            <div class="d-flex gap-0 gap-md-3">
              <input  class="form-control" name="startDate" type="date" style=" 
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
              ">
              <input  class="form-control" name="endDate" type="date" style=" 
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
               ">
            </div>
            </div>
          <!-- Technologies -->
          <div class=" ">
            <label for="content">Technologies:</label>
              <div class="checkbox">
                <label class="label-checkbox"
                  >Node Js
                  <input
                    type="checkbox"
                    class="input-technologies"
                    value="NodeJs"
                    style=" margin: 30px 0 30px 0;"
                    name="technologies"
                  />
                  <span class="checkmark"></span>
                </label>
                <label class="label-checkbox"
                  >React Js
                  <input
                    type="checkbox"
                    class="input-technologies"
                    value="ReactJs"
                    name="technologies"
                  />
                  <span class="checkmark"></span>
                </label>
                <label class="label-checkbox"
                  >Golang
                  <input type="checkbox" class="input-technologies" value="Go" style=" margin: 30px 0 30px 0;" name="technologies" />
                  
                </label>
              </div>
          </div>
          <!-- content -->
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" rows="3" name="content"><%= editBlog.content %>
            </textarea>
          </div>
          <!-- Image -->
          <div class="mb-3" >
            <label for="formFile" class="form-label">Image Before</label>
            <div class="d-flex justify-content-md-start justify-content-center mb-2" style="height: 200px;">
              <img src="<%= editBlog.image %>" alt="" >
            </div>
            <input class="form-control" type="file" id="formFile">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

 
<%- include('partials/footer') %>