
<%- include('partials/header') %>
<%- include('partials/navbar') %>
    <form method="post" action="/blog-edit/<%= editBlog.id %>" enctype="multipart/form-data">
      <div class="container my-5 p-md-5 " >
        <div class="p-4 p-md-5 rounded" style="background-color: #F4F3F3;">
          <h1 class="text-center">Edit Blog <%= editBlog.title %> </h1>
          <!-- Name -->
          <div class="mb-3">
            <label class="form-label">Project Name</label>
            <input name="title" class="form-control" placeholder="<%= editBlog.title %>" >
          </div>
          <!-- Date -->
          <div class="mb-3 d-grid ">
            <label class="form-label">Date</label>
            <div class="d-flex gap-0 gap-md-3">
              <input  class="form-control" name="start_date" type="date" style=" 
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
              "     value="<%= editBlog.start_date %>">
              <input  class="form-control" name="end_date" type="date" style=" 
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              margin-top: 6px;
              margin-bottom: 16px;
               "
            value="<%= editBlog.end_date %>"
               >
            </div>
            </div>
          <!-- Technologies -->
          <div class="Technologies">
            <label for="content">Technologies:</label>
              <div class="checkbox">
                <% const technologiesToCheck = [
                { name: 'ReactJs', logo: '/img/logo/react-logo-60.png' },
                { name: 'NodeJs', logo: '/img/logo/nodejs-logo-60.png'  },
                { name: 'Go', logo: '/img/logo/go-lang-logo-60.png' }
                ]; %>
                <% technologiesToCheck.forEach((tech) => { %>
                  <label class="label-checkbox fs-2">
                    <img src="<%= tech.logo %>" alt="<%= tech.name %>" width="50" height="50">
                    <input
                      type="checkbox"
                      class="input-technologies"
                      value="<%= tech.name %>"
                      name="technologies"
                      <% if (editBlog.technologies && editBlog.technologies.includes(tech.name)) { %> checked <% } %>
                    />
                    <span class="checkmark "></span>
                  </label>
                <% }); %>
              </div>
          </div>
          <!-- content -->
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" rows="3" name="content"><%= editBlog.content %>
            </textarea>
          </div>
          <!-- Image -->
          <div class="mb-3" >
              <div class="row">
                <div class="col">
                  <label for="formFile" class="form-label">Image Before</label>
                  <div class="d-flex justify-content-md-start justify-content-center mb-2" style="height: 200px;">
                    <img src="/<%= editBlog.image %>" alt="" >
                  </div>
                </div>
                <div class="col">
                  <label for="imageInput" class="form-label">Image After</label>
                  <div class="d-flex justify-content-md-start justify-content-center mb-2" style="height: 200px;">
                    <img src="" alt="" id="imagePreview">
                  </div>
                </div>
              </div>
            
            <input class="form-control" type="file" id="imageInput" onchange="previewImage()" >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

    <script>
function previewImage() {
  const fileInput = document.getElementById('imageInput');
  const imagePreview = document.getElementById('imagePreview');

  if (fileInput.files && fileInput.files[0]) {
    const reader = new FileReader();

    reader.onload = function (e) {
      imagePreview.style.display = 'block';
      imagePreview.src = e.target.result;
    };

    reader.readAsDataURL(fileInput.files[0]);
  }
}      
    </script>
<%- include('partials/footer') %>