
  <%- include('partials/header') %>
  <%- include('partials/navbar') %>
 
  <!-- main -->
  <div class="px-3 px-md-0">
    <div class="container shadow my-5 text-center" style="background-color: #F4F3F3; border-radius: 25px; ">
      <div class="row" style="height: 100%;">
        <div class="col-md-8 col-12 text-start py-5 px-3 text-justify " >
         <h1>Woven</h1>
        
         
         <p class=" fw-medium" style="text-align: justify;">
          Elemental Resonance: Woven Stone is an Elemental Resonance Event Card in Genius Invokation TCG. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione doloremque vel exercitationem repellat nesciunt, labore repellendus dolore rem sapiente saepe facere quas molestiae ipsum dolor deleniti voluptatem reprehenderit voluptates, illum assumenda est dolores possimus! Nam.</p>
          <button class="buttonstyling btn  text-white px-4 py-1 mb-md-4 rounded-pill" style="background-color: #857ba1;" >Contact</button>
          <div class="footer-content mt-md-5 d-flex d-flex justify-content-end justify-content-md-start">
            <i class="fa-brands fa-linkedin mx-2 fs-2 text" style="color: #2a2c3e;"></i>
            <i class="fa-brands fa-instagram mx-2 fs-2 text" style="color: #2a2c3e;"></i>
            <i class="fa-brands fa-facebook mx-2 fs-2 text" style="color: #2a2c3e;"></i>
            <i class="fa-brands fa-x-twitter mx-2 fs-2 text" style="color: #2a2c3e;"></i>
          </div>
        </div>
        <div class="col-md-4 col-12  my-2  fw-medium">
              <img src="/img/elemental-resonance-woven-stone-card.png" class="card-img-top" alt="..." style="height: 350px;  border-radius: 25px;">
              <div class="card-body">
                <h5 class="card-title">Woven</h5>
                <p class="card-text">This is woven</p>
              </div>
        </div>
      </div>
    </div>
  </div>

  <!-- card project -->
  <div class="blogshow bg-light" >
   
    <h1 class=" text-center">My Blog</h1>
    <div class="container text-center">
      <div class="row">
        <% blogData.forEach((i) => { %>
          <div class="col-md-4 col-12 my-5">
            <div class="card rounded shadow" style="background-color: #F4F3F3">
              <img src="<%= i.image %>" class="card-img-top bg-danger" alt="..." style="max-height: 346px; min-height: 346px;">
              <div class="card-body">
                <h3 class="card-text text-start">
                  <a href="/blog-detail/<%= i.id %>" class="text-black" style="text-decoration: none;">
                    <%= i.title %>
                  </a>
                </h3>
                <p class="fs-6 fw-normal text-end">Duration: <%= i.duration %> days</p>
                <p class="fs-6 " style="text-align: justify;"><%= i.content %></p>
                <div class="footer-card d-flex justify-content-between my-2">
                  <div class="technologies">
                    <% i.technologies.forEach((technology) => { %>
                      <% if (technology === 'ReactJs') { %>
                        <i class="fab fa-react"></i>
                      <% } else if (technology === 'NodeJs') { %>
                        <i class="fab fa-node-js"></i>
                      <% } else if (technology === 'Go') { %>
                        <i class="fab fa-golang"></i>
                      <% }  %>
                    <% }); %>
                  </div>
                  <p class="fs-6 fw-normal ">...ago</p>
                </div>
                <div class="d-grid gap1">
                  <% if(isLogin) { %>
                    <div id="full" class="d-flex mb-1">
                      <button type="button" class="btn btn-primary flex-fill me-1">
                        <a href="/blog-edit/<%= i.id %>" class="text-white" style="text-decoration: none;">Edit</a>
                      </button>
                      <button type="button" class="btn btn-secondary flex-fill me-1">
                        <a href="/blog-delete/<%= i.id %>" class="text-white" style="text-decoration: none;">Delete</a>
                      </button>
                    </div>
                    <% } %>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>



  </div>

  <!-- end of card project -->
  <%- include('partials/footer') %>